@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*{
    box-sizing: border-box;
}
body{
    font-family: 'Raleway', sans-serif;
}
main{
    padding: 20px 50px 20px 50px;
    max-width: 1230px;
    margin: auto;
    box-sizing:content-box;
}
/************** HEADER *************/
header{
    display : flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
header nav{
    display:flex;
    flex-direction: row;
}
header nav a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    text-align: center;
}
header nav div{
    width : 150px;
}
header a hr {
    width: 100%;
    opacity: 20%;
}
header a.active hr  {
    width: 100%;
    opacity: 100%;
}

/************** RECHERCHER TITLE ************/
.grayText{
    color : gray;
}
#rechercherh3{
    margin-top: -10px;
}
/************** RECHERCHER INPUT FIELD + BUTTON ************/
#searchBtnMagnifier{
    display:none;
}
#searchCtn {
    overflow: hidden;
    width: 600px;
    height: 50px;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    border:1px solid #F2F2F2;
    border-radius: 20px;
}
div#positionIcon{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    width:50px;
}
#searchCtn button{
    background-color: #0065FC;
    border: none;
    width: 150px;
}
form button{
    color:white;
}
#searchCtn input{
    border-style: none;
    padding-left: 10px;
    width:100%;
}
#searchBtn{
    cursor: pointer;
}
/************** RECHERCHER FILTRES ************/
#filters{
    display:flex;
    margin-top : 15px;
}
#filtersBtns{
    width:900px;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}
#filters button{
    background-color: white;
    margin-left: 10px;
    height : 50px;
    flex-basis: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 3px solid #F2F2F2;
    border-radius: 50px;
    color: none;
    padding: 12px;
}
.filterIcon{
    color: #0065FC;
    padding: 0 15px 0 17px;
    background-color:#DEEBFF;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
    transform: translateX(-13px);
}
button.filterBtn:hover{
    direction: rtl;
    justify-content: space-evenly;
    cursor: pointer;
}
button.filterBtn:hover .filterIcon {
    transform: translateX(13px);
}​
div#filterTitle{
    text-transform: capitalize;
}
#infoNombreLogements{
    display: flex;
    align-items: center;
}
#infoNombreLogements div{
    display: flex;
    width: 25px;
    border-radius: 30px;
    border: 2px solid #F2F2F2;
    margin-right: 10px;
}
#infoNombreLogements div i{
    color: #0065FC;
    margin: auto;
    text-align: center;
    padding:5px;
}
/***************************** HEB POP *****************************/
.fa-star{
    color: #F2F2F2;
}
.checked {
    color: #0065FC;
}
#hebpop{
    display:flex;
    flex-direction : row;
    justify-content: space-around;
}
/************** HEB ************/
#hebergement{
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 20px 40px 20px 40px;
    height: 650px;
}
.hebItems{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 500px;
}
.hebItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    width: 230px;
    height: 200px;
    background-color: white;
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 0px 0px 2px 3px rgba(0, 0, 0, 0.1);
}
.hebItem:hover{
    cursor: pointer;
}
.hebImg{
    display:flex;
    align-items:center;
    flex: 1 1 auto;
    height: 80px;
    overflow:hidden;
}
.hebImg>img{
    width: 100%;
}
div.hebTxt>h3, div.hebTxt>h4{
    margin: 4px;
    padding: 0 2px 0 2px;
}
div.hebTxt>h5{
    margin: 4px;
    padding: 6px 2px 0 2px;
}
#hebItems div span{
    font-size: 12px;
}
#hebPlus{
    position:relative;
    bottom: 20px;
}

/************** POP ************/
#populaire{
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 20px 40px 20px 40px;
    margin: 0 0 0 20px;
}
.popItems{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 500px;
}
.popItem{
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
    height: 130px;
    width: 300px;
    background-color: white;
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 0px 0px 2px 3px rgba(0, 0, 0, 0.1);
}
.popItem:hover{
    cursor: pointer;
}
.popImg{
    flex:1;
    width:160px;
    display:flex;
    align-items:center;
    justify-content: center;
    overflow:hidden;
}
.popImg>img{
    width:200px;
}
.popTxt{
    flex:2;
    display:flex;
    flex-direction: column;
    margin-left:10px;
}
div.popTxt>h3, div.popTxt>h4,div.popTxt>h5{
    margin: 4px;
    padding: 0 2px 0 2px;
}
#popItems div span{
    font-size: 12px;
}
/***************************** ACTIVITIES *****************************/
#activities{
    margin-top: 40px;
}
.actItems {
    display: flex;
    flex-flow: column wrap;
    align-content: space-around;
    /* Your container needs a fixed height, and it 
    * needs to be taller than your tallest column. */
    height: 550px; 
}
.actItem1{
    width: 22%;
    margin-bottom: 4%; /* (100-32*3)/2 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    height: 500px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 2px 3px rgba(0, 0, 0, 0.1);
}
.actItem2{
    width: 22%;
    margin-bottom: 4%; /* (100-32*3)/2 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    height: 250px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 2px 3px rgba(0, 0, 0, 0.1);
}
.actItem3{
    width: 22%;
    margin-bottom: 4%; /* (100-32*3)/2 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    height: 200px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 2px 3px rgba(0, 0, 0, 0.1);
}
.actItem4{
    width: 22%;
    margin-bottom: 4%; /* (100-32*3)/2 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    height: 500px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 2px 3px rgba(0, 0, 0, 0.1);
}
.actItem5{
    width: 22%;
    margin-bottom: 4%; /* (100-32*3)/2 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    height: 200px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 2px 3px rgba(0, 0, 0, 0.1);
}
.actItem6{
    width: 22%;
    margin-bottom: 4%; /* (100-32*3)/2 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    height: 250px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 2px 3px rgba(0, 0, 0, 0.1);
}
.actImg1{
    display:flex;
    align-items:center;
    justify-content: center;
    flex: 1 1 auto;
    overflow:hidden;
}
.actItems div[class^="actItem"]:hover{
    cursor: pointer;
}
.actImg1>img{
    object-fit: fill;
}
.actTxt1{
    text-transform: capitalize;
    margin:10px;
}
div.actTxt1>h3{
    margin: 4px;
    padding: 0 2px 0 2px;
}
/***************************** FOOTER *****************************/
footer h3, footer h2{
    text-transform: capitalize;
}
footer{
    background-color: #F2F2F2;
}
.footerContainer{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    width:900px;
    padding : 20px 20px 20px 0;
}

@media screen and (max-width: 1330px){
    #hebpop{
        display:flex;
        flex-direction : column;
        justify-content: space-between;
    }
    .hebItems{
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-self: center;
        flex-wrap: wrap;
        height: 500px;
    }
    .hebItem{
        margin: 10px;
        width: 230px;
    }
    #populaire{
        margin: 20px 0 0 0;
    }
    .popItems{
        flex-direction: row;
        height: 180px;
    }
    .popItem{
        margin: 20px 10px 0 10px;
        width: 100%;
        height: 150px;
    }
    .footerContainer{
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        width:700px;
        padding : 20px 20px 20px 0;
    }
    #hebPlus{
        position:relative;
        bottom: 20px;
    }
}

@media screen and (max-width: 992px){
    #filters{
        display: block;
        width: 100%;
    }
    #filtersBtns{
        width:100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #filters button{
        margin-left: 0px;
        margin-top: 10px;
    }
    #hebergement{
        flex:1;
        height:100%;
    }
    .hebItems{
        height:100%;
    }
    #hebPlus{
        position:relative;
        bottom: 0px;
    }
    #populaire{
        height: 520px;
    }
    .popItems{
        flex-direction: column;
        height:400px;
    }
    .popItem{
        width: 400px;
        height: 600px;
    }
    .footerContainer{
    width:650px;
    padding : 20px 20px 20px 20px;
    }
}

@media screen and (max-width: 768px){
    main{
        margin: 0;
        padding: 0px 0px 0px 0px;
    }
    header{
        flex-direction: column;
    }
    header nav{
        order:2;
        width: 100%;
        flex: 1;
    }
    header nav div{
        width : 100%;
    }
    header a hr {
        width: 100%;
        opacity: 20%;
        order:1;
    }
    #rechercher{
        padding: 0px 20px 0 20px;
    }
    #searchBtn{
        display:none;
    }
    #searchBtnMagnifier{
        display:block;
        cursor: pointer;
    }
    #searchCtn{
        width:100%;
    }
    #searchCtn button{
        width: 50px;
    }
    #hebergement{
        height: 1850px;
        order: 2;
        margin-top : 10px;
        border-radius: 0;
        background-color: white;
    }
    .hebItems{
        min-width: 0px;
        height:1700px;
        flex:1;
    }
    .hebItem{
        width : 95%;
        height: 250px;
    }
    #populaire{
        margin: 0;
        height: 650px;
        order: 1;
        border-radius: 0;
    }
    .popItems{
        flex-direction: column;
        height: 500px;
    }
    .popItem{
        width : 95%;
        height: 250px;
        /*direction: rtl;*/
        justify-content: flex-start;
    }
    .popTxt{
        align-self: center;
    }
    
    #activities{
        display: flex;
        flex: 1;
        flex-direction: column;
        padding: 20px 40px 0px 40px;
        margin-top: 0px;
    }
    .actItems {
        flex-direction: column;
        align-items: center;
        flex:1;
        height: 1750px;
        min-width: 0;
    }
    .actItems div[class^="actItem"]{
        width : 95%;
        height: 250px;
        min-width: 0;
    }
    .actImg1>img{
        width: 100%;
    }
    .footerContainer{
        flex-direction: column;
        justify-content: flex-start;
        padding : 20px 60px;
        margin: 0;
        width:100%;
    }
}


